*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  padding: 100px 0;
  background-color: #23424a;
  color: white;
}

.content {
  width: 80%;
  margin: 0 auto;
}

.text {
  width: 60%;
  max-width: 1100px;
}

.text h1 {
  font-size: 3rem;
}

.text p {
  margin-bottom: 4.5em;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  background-color: #38cfd9;
  padding: 0.9em 1.2em;
  border-radius: 20px;
  font-weight: 800;
}

.btn:hover,
.btn:focus {
  opacity: 0.7;
}
